<div class="one-comment">

	<div class="author"><b>Author:</b> 
		<%= comment.commenter %>
	</div>


	<div class="some-comment">
		<%= comment.body %>
	 </div>

	 
	 <% if model_signed_in? %>

		<div class="but-destr">
			<%= link_to [comment.post,comment],
									method: :delete,
									data: {confitm: 'Are you sure?'} do %>
				<div class="btn btn-danger">Destroy</div>
			<% end %>
		</div>
	<% end %>

		



</div>
