
<div class="author">Author: 
	<%= comment.commenter %>
</div>


<div>Comment:
	<%= comment.body %>
 </div>

<div class="btn btn-danger">
	<%= link_to 'Destroy Comment', [comment.post,comment],
							method: :delete,
							data: {confitm: 'Are you sure?'} %>
</div>
