<div class="text-center col-12 stfmp">
	<h1>Edit post</h1>
</div>
 
<div class="new-my-post col-12 mx-auto">
	<%= render 'form' %>
</div>

<div class="btn btn-default my-buttom-back">
	<%= link_to 'Back', posts_path %>
</div>