<div class="text-center col-12 stfmp">
	<h1>New post</h1>
</div>
 
<div class="new-my-post col-12 mx-auto">
	<%= render 'form' %>	
</div>
 


<%= link_to posts_path do %>
	<div  class="btn btn-default my-buttom-back">Back</div>
<% end %> 